@use '../abstracts/colors' as *;

app-card {
  display: flex;
  background: $card;
  padding: 0.5rem;
  height: 3rem;
  margin: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 3px 2px rgba(89,110,156,0.25);
}
