@use '../abstracts/colors' as *;

@media (max-width: 600px) {
  app-card {
    display: flex;
    background: $white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: auto;
    margin: 1rem 1rem !important;
    border-radius: 0.5rem;
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.1), 0 8px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.02);
  }

  app-table-filter > app-card {
    margin-bottom: 2rem !important;
  }
}

