@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

@media only screen and (max-width: $desktopBreakpoint) {
  app-card {
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: auto;
    min-height: 3rem;
    margin: 1rem 1rem !important;
  }

  app-table-filter > app-card {
    margin-bottom: 2rem !important;
  }
}

