@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

@media only screen and (max-width: $desktopBreakpoint) {

  .checkmark {
    height: 20px;
    width: 20px;
  }

  .checkbox-container {
    padding-left: 2rem;
  }

  .checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid $white;
    border-width: 0 3px 3px 0;
  }
}
