
// Base palette

$white: #FFF;
$black: #000;
$lightgray: #F4F6F9;
$navyblue: #001C3B;
$darkblue: #0074D4;
$lightblue: #3FA9F5;
$green: #7AC943;
$ochre: #FBB03B;

// Element colors

$background: $lightgray;
$card: $white;
$checkbox: $darkblue;
$statusActive: $green;
$statusPending: $lightblue;
$statusCompensation: $ochre;
$mainTitle: $navyblue;
