
<app-table-filter (statusFilterChanged)="handleStatusFilterChanged($event)" />

<div *ngIf="!!filteredData.length; else noDataTemplate" class="table-header table-layout">
  <div class="cell"> Status </div>
  <div class="cell"> Supplier name </div>
  <div class="cell"> Month </div>
  <div class="cell"> Phase </div>
  <div class="cell"> Internal Order </div>
  <div class="cell"> Amount (USD) </div>
</div>

<ng-template #noDataTemplate>
  <app-card>
    No data to display
  </app-card>
</ng-template>

<div *ngFor="let entity of filteredData">
  <app-table-entity [entity]="entity" />
</div>
